.mt-n1 {
    margin-top: -0.6rem;
  }


  .navSpace {
    padding-right: 15px;
  }

  .pl {
    padding-left: 315px;
  }

  .pt {
    padding-top: 150px;
  }
 
  .pb {
    padding-bottom: 140px;
  }
   
  .sectionOne h1{
    font-size: 55px;
    
  }

  .sectionTwo p {
    font-size: 18px;
    font-weight: 500;
    line-height: ;
  }


 
  .btn {
    padding-left: 117px;
    padding-right: 117px;
    font-style: 16px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 0%;
  }

  .sectionFour a {
    text-decoration: none;
    color: #161616;
    font-size: 14px;
    line-height: 50px;
    font-weight: 500;
  }
