.mt-n1 {
    margin-top: -0.6rem;
  }

  .navbar a {
    text-transform: uppercase;
  }


  .navSpace {
    padding-right: 15px;
  }

  .pl {
    padding-left: 315px;
  }

  .pt {
    padding-top: 150px;
  }
 
  .pb {
    padding-bottom: 140px;
  }
   
  .sectionOne h1{
    font-size: 55px;
    
  }

  h1 {
    text-transform: uppercase;
  }

  .sectionTwo p {
    font-size: 18px;
    font-weight: 500;
    line-height: ;
  }


   .sectionFive .btn,
   .sectionFour .btn,
   .sectionThree .btn {
    width: 400px;
    height: 60px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 0%;
  }

  .sectionFour a {
    text-decoration: none;
    color: #161616;
    font-size: 14px;
    line-height: 50px;
    font-weight: 500;
  }

  .sectionFive li {
    font-size: 14px;
    font-weight: 500;
    
  }

  .imgZ {
    z-index: 1;
  }

   .btnicon {
    width: 60px;
    height: 60px;
    color: #161616;
  }

  .social {
    color: #161616;
    font-size: 48px;
    margin-left: 40px;
  }

  .sectionSix p {
    font-size: 18px;
    font-weight: 600;
  }

  .footer {
    /* background-color: #161616; */
    padding-top: 60px;
  }

  .footer p {
    text-transform: uppercase;
    font-size: 14px;
  }

  .footer li {
    list-style: none;
    

  }

  .footer a {
    text-decoration: none;
    color: white;
    /* padding-right: 35px; */
    text-transform: uppercase;
  }

  .footer ul {
    display: flex;
    
  }
